.footer-section {
    background: var(--dark-color);
    padding: 20px 0;
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .policy-link {
    color: var(--white-color);
    margin: 0 5px;
}

@media screen and (max-width: 900px) {
    .footer-section .section-content {
        flex-direction: column-reverse;
        width: 100%;
        gap: 20px;
    }
}
